.centralizer {
    margin: 0 auto;
    font-family: "Trebuchet MS", "Helvetica", sans-serif
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
    resize: none;
}

.caseDown,
.caseUp,
.shiftCaps,
.caps {
    display: block;
    min-height: 40px
}

.hidden {
    display: none
}

.description,
.language,
.title {
    margin: 10px auto;
    text-align: center
}

.title {
    font-size: 30px;
    color: rgba(101, 134, 177, 0.8);
    -webkit-text-stroke: 1px rgba(114, 177, 101, 0.8);
    -webkit-text-fill-color: rgba(101, 134, 177, 0.8)
}

.keyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 12px;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.keyboard .row {
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px
}

.key {
    /* float: left; */
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-top: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    /* background: black; */
    background-image: linear-gradient(to right, #000000 0%, #3D3D3D 51%, #828288 100%);
    background-size: 200% auto;
    transition: 1s;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    /* transition: border-radius 0.3s, background-color 0.3s */
}

.key:hover {
    /* background: #79aa89 */
    background-position: right center;
}

.keyboard .key.active {
    background-color: #2cfd72;
    border-radius: 50px
}

/* .keyboard .AltLeft,
.keyboard .AltRight,
.keyboard .ArrowUp,
.keyboard .ArrowLeft,
.keyboard .ArrowDown,
.keyboard .ArrowRight,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ControlLeft,
.keyboard .ControlRight,
.keyboard .Delete,
.keyboard .Enter,
.keyboard .ShiftLeft,
.keyboard .ShiftRight,
.keyboard .Tab,
.keyboard .MetaLeft {
    font-weight: 600;
    background-color: #222222
} */

.keyboard .Tab {
    width: 50px
}

.keyboard .large {
    width: 100px
}

/* .keyboard .Delete {
    width: 44px
} */

.keyboard .middle {
    width: 86px
}

.keyboard .Space {
    width: 330px
}